
/*body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1d; 
  color: #e6e6e6; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}*/
:root {
  --background-color: #1a1a1d;
  --accent-color: #4e4e50;
  --highlight-color: #c3073f;
  --text-primary: #e6e6e6;
  --text-secondary: #cccccc;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1d; 
  color: #e6e6e6;
}

.auth-container {
  display: flex;
  justify-content: center !important;
  align-items: center;
  height: 642px; 
  width: 100vw; 
  padding: 20px;
  margin: 0 0 0 0;
  background-color: var(--background-color);
}

.auth-inputContainer {
  background-color: #4e4e50;
  padding: 40px; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  max-height: 700px; 
  border-radius: 40px;
}

.auth-inputField {
  width: 100%;
  padding: 15px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0; 
  color: #000; 
  border-radius: 15px;
}

.auth-button {
  background-color: #c3073f; 
  color: white;
  border: none;
  padding: 13px 15px; 
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px; 
  font-weight: 500; 
}

.auth-button:hover {
  background-color: #a30634;
  transform: scale(1.03);
  box-shadow: 3px 2px 18px 1px rgba(43, 43, 43, 0.534);
}

.auth-otherformlink {
  margin-top: 20px; 
  color: #cccccc;
}

.auth-linktoreg {
  text-decoration: none;
  color: inherit;
}

.auth-inputContainer h2 {
  margin-bottom: 25px; 
  color: #e6e6e6;
  font-weight: 500; 
  font-size: 24px;
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
