:root {
  --background-color: #1a1a1d;
  --accent-color: #4e4e50;
  --highlight-color: #c3073f;
  --text-primary: #e6e6e6;
  --text-secondary: #cccccc;
}

.profileContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  width: 100wv;
  margin-top: 0;
  background-color: var(--accent-color);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}


.naslov{
  color: var(--text-primary);
  margin-bottom: 20%;
}

.wishlist {
  width: 100%;
  max-width: 600px;
  color: var(--text-primary);
}

.wishlist h3 {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
}

.wishlist ul {
  list-style-type: none;
  padding: 0;
}

.wishlist li {
  background-color: var(--background-color);
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
